<% if user_signed_in? %>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      <%= current_user.email %>
    </a>
    <ul class="dropdown-menu <%= defined?(mobile) && mobile ? '' : 'dropdown-menu-end' %>">
      <li>
        <%= link_to destroy_user_session_path, class: 'dropdown-item', method: :delete do %>
          <span class="text-danger">Log out</span>
        <% end %>
      </li>
    </ul>
  </li>
<% else %>
  <li class="nav-item">
    <%= link_to new_user_session_path, class: 'nav-link', aria: {current: 'page'} do %>
      Log In
    <% end %>
  </li>
<% end %>