<li class="nav-item">
  <%= link_to root_path, class: "nav-link #{active_text(:contacts)}", aria: {current: 'page'} do %>
    Contacts
  <% end %>
</li>
<li class="nav-item">
  <%= link_to imports_path, class: "nav-link #{active_text(:imports)}", aria: {current: 'page'} do %>
    Imports
  <% end %>
</li>