<tr>
  <td><%= link_to import.id, import_path(import) %></td>
  <td>
    <%= link_to import_path(import) do %>
      <%= import_badge(import) %>
    <% end %>
  </td>
  <td><%= link_to import.created_at.strftime('%Y/%m/%d'), import_path(import) %></td>
</tr>