<div class="mb-2 row" id="contacts_counter">
  <div class="col text-center text-muted">
    <% if count > 0 %>
      Total contacts: <%= count %>
    <% else %>
      <i>No contacts are created yet</i>
    <% end %>
  </div>
</div>
