<h1>Contacts</h1>
<div class="d-flex justify-content-end">
  <%= link_to new_import_path, class: 'btn btn-primary' do %>
    <i class="fa-solid fa-upload"></i> Import contacts
  <% end %>
</div>
<div>
  <ul class="clean-list">
    <li class="border-bottom">
      <div class="headers row mt-4">
        <span class="col-1 fw-bold">
          ID
        </span>
        <span class="col-2 fw-bold">
          Name
        </span>
        <span class="col-1 fw-bold">
          Address
        </span>
        <span class="col-1 fw-bold">
          Birthdate
        </span>
        <span class="col-1 fw-bold">
          Last 4
        </span>
        <span class="col-2 fw-bold">
          Email
        </span>
        <span class="col-2 fw-bold">
          Phone
        </span>
        <span class="col-1 fw-bold">
          Actions
        </span>
      </div>
    </li>
    <%= render @contacts %>
  </ul>
</div>
<%= render partial: 'counter', locals: { count: @contacts.total_count } %>
<%= paginate @contacts %>