/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

input:invalid {
  border-color: #dc3545 !important;
}

.pagination {
  justify-content: center;
  margin-bottom: 2rem;
  
  .page {
    margin: 0 0.5rem;
  }
  
  .first {
    margin-right: 0.5rem;
  }
  
  .previous {
    margin-right: 0.5rem;
  }
  
  .next {
    margin-left: 0.5rem;
  }
  .last {
    margin-left: 0.5rem;
  }
}

.clean-list {
  list-style: none;
  padding: 0;

  li {
    padding: 0.5rem 0;
  }

  &.striped-rows > li:nth-child(2n+2) {
    background-color: rgb(242, 241, 241);
  }

  .sortable-row {
    cursor: move;
  }

  .clean-list > li {
    height: 3em;
    padding: 0.5rem 0.5rem;
  }
}